{% block heading %}
{% endblock %}
{% block body %}
<HTML>
<head>
	<title> Mi Curriculum </title>
	<br>
	<link rel="shortcut icon" type="image/x-icon" href="curriculum.ico">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style>
      .row> div {
          padding: 20px;
          background-color: #B5E4FC;
          border: 2px solid black;
      }
    </style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-4">
				<h2><center>Valeria de la Oliva </center></h2>
				<h5><center>COMPUTER SCIENCE</center></h5>
				<center><img src="foto.jpg" alt="Foto" style="width:300px"> </center>
				<p>
				<fieldset>
					<legend><h3>Contacto:</h3></legend>
					<li><img src="wpp.png" alt="logo whatsapp" style="width:35px" align=middle> 941-236-146</li>
					<hr/>
					<li><img src="mail.png" alt="logo mail" style="width:25px" align=middle> valeria.delaoliva@ucsp.edu.pe</li>
					<hr/>
					<li><img src="ig.png" alt="logo instagram" style="width:25px" align=middle> @valeria_dlo>
					<hr/>
					<li><img src="fb.png" alt="logo facebook" style="width:20px" align=middle> Valeria de la Oliva</li>
					<hr/>
					<li><img src="ub.png" alt="logo codigo postal" style="width:30px" align=middle>04000</li>
					<hr/>
				</fieldset>
				</p>
				
				
			</div>
			<div class="col-8">
				<br><br>
				<h3><i>Experiencia:</i> </h3>
				<hr/>
				<h5>Programador web: </h5>
				<fieldset>
					<li>Desarrollo de aplicaciones web para clientes de la empresa del sector financiero</li>
					<li>Mantenimiento de la aplicación web</li>
					<li>Maquetación HTML5</li>
				</fieldset>
				<br><br>
				<h5>Programador full stack: </h5>
				<fieldset>
					<li>Desarrollo de Frond end y Back end en HTML5</li>
					<li>Realizacion de test de aplicaciones</li>
					<li>Solucion de problemas</li>
				</fieldset>
				<br><br>
				<h5>Analista - Programador: </h5>
				<fieldset>
					<li>Toma de requerimientos con clientes </li>
					<li>Analisis de requerimientos y diseño de aplicaciones</li>
					<li>Desarrollo de aplicaciones utilizando c++.python y HTML5</li>
					<li>Soporte tecnico a clientes</li>
				</fieldset>
				<hr/>
				<h3><i>Formacion:</i> </h3>
				<h5>
				Ciencias de la computación
				</h5>
				<p>
				Universidad Católica San Pablo
				</p>
				<hr/>
				<h3><i>Competencias: </i> </h3>
				<fieldset>
					<li>Python</li>
					<li>C++</li>
					<li>HTML5</li>
					<li>GO</li>
					<li>Swift</li>
				</fieldset>
				</div>
				
		</div>
	</div>

</HTML>
{% endblock %}